*{
    margin: 0%;
    padding: 1%;
}

.Cabeçalho{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.cabecalho_geral{
    background-color: #e67865;
}

.cabeçalho_imagem{
    width: 12%;
}

.cabeçalho_titulo{
    font-size: 50px;
}

.cabecalho_lista{
    margin: 25 0;
    font-size: 16px;

}

.apresentaçao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.apresentaçao_titulo{
    font-size: 10px;
}

.PImentatta{
    width: 15%;
}

.intro_geral{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    margin: 1em;
    background-color: #f9f3c2;
}

.intro{
    font-size: 30px;
}

body{
    background-image: linear-gradient(lemonchiffon, #dd371a);
}

.semana_1{
    font-size: 20;
}

