*{
    margin: 0%;
    padding: 0%;
}

.Cabeçalho{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho_imagem{
    width: 12%;
}

.cabeçalho_titulo{
    font-size: 50px;
}

.cabecalho_lista{
    margin: 25px 0px 25px 0px;
    font-size: 16px;
}

.apresentaçao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.apresentaçao_titulo{
    font-size: 15px;
}

.PImentatta{
    width: 15%;
}

.intro_geral{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.intro{
    font-size: 30px;
}

body{
    background-image: linear-gradient(lemonchiffon, #dd371a);
}
